@import "@kivora/nextjs/styles.css";
@source "../node_modules/@kivora/nextjs/dist";

:root {
  --color-primary: oklch(51.1% 0.262 276.966);
  --color-primary-foreground: oklch(1 0 0);
}

.dark {
  --color-primary: oklch(67.3% 0.182 276.935);
  --color-primary-foreground: oklch(0.205 0 0);
}
